 * {
      padding: 0;
      margin: 0;
      border: 0;
    }

#demo {
      
      top: 0;
      left: 0;
      width: 100%;
      
      visibility: hidden;
      background: #457;
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    #demo li.first {
      background: #F5F5F5;
    }

    #demo li.last {
      background: white;
    }

   
    

    #demo p {
      max-width: 90%;
      margin: 0 auto;
      padding: 0 30px;
      margin-bottom: 30px;
    }

    #demo p:first-child {
      margin-top: 30px;
    }

    #demo p:last-child {
      margin-bottom: 200px;
    }
       