  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px){
    #demo {
       
      height: 1600px;}}

  @media only screen and (min-width : 360px){
    #demo {
       
      height: 1750px;}}


  @media only screen and (min-width : 375px){
    #demo {
       
      height: 1800px;}}

  @media only screen and (min-width : 414px){
    #demo {
       
      height: 1900px;}}
  

  @media only screen and (min-width : 480px){
    #demo {
       
      height: 700px;}}

    @media only screen and (min-width : 768px){
    #demo {
       
      height: 1000px;}}


    @media only screen and (min-width : 600px){
    #demo {
       
      height: 810px;}}

    @media only screen and (min-width : 800px){
    #demo {
       
      height: 985px;}}

 
 @media only screen and (min-width : 590px){
    .card-header {
       
      height: 500px !important;}}

   @media only screen and (min-width : 590px){
    .card-header {
       
     padding-top: 300px !important;}}


 


 * {
      padding: 0;
      margin: 0;
      border: 0;
    }

#demo {
      
      top: 0;
      left: 0;
      width: 100%;
      

      visibility: hidden;
      background: #457;
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
    }

    #demo li.first {
      background: #F5F5F5;
    }

    #demo li.last {
      background: #F5F5F5;
    }

   
    

   
       