body {
	font-family: 'Open Sans', sans-serif;
	background-color: red;
}

.card-header {
	height: 280px;
	background-color: blue;
	padding-top: 50px;
}

.logo {
	margin-top: -5px;
}


#profiler {
	padding-top: 135px;
}