body {
	font-family: 'Open Sans', sans-serif;
	background-color: red;
}

.card-header {
	height: 280px;
	background-image: url(../images/background.jpg);
	background-size: cover;
	padding-top: 50px;
}

.logo {
	margin-top: -5px;
}


#profiler {
	padding-top: 135px;
}

#bio p {
	margin-bottom: 20px !important;
}

.card-bio {
	height: 500px;
	background-color: #EEEEF0;

}

.navbar-fixed-top .navbar-collapse {
  max-height: 100%;}

.position  {
	margin-top: -50px;
}


.img-circle {
	border-radius: 50%;
	border: 13px solid red;

}

.img-circle-none {
	border-radius: 50%;
}

.card {
	height: 150px;
	background-color: white;
	border: 1px solid #BDBDBD;

}

#presentation {
	padding: 10px;
}

.margin-top {
	margin-top: 15px;
}

.vertical-space-100 {
	height: 100px;
}

.vertical-space-50 {
	height: 50px;
}

.padded {
	padding-left: -10px;
}

h3  {
	
	margin-top: -52px;
	padding-left: 100px;
}

h3 {
	font-size: 25px !important;
}