body {
	font-family: 'Open Sans', sans-serif;
	background-color: red;
}

.card-header {
	height: 280px;
	background-image: url(../images/background.jpg);
	background-size: cover;
	padding-top: 50px;
}

.logo {
	margin-top: -5px;
}


#profiler {
	padding-top: 135px;
}

#bio p {
	margin-bottom: 20px !important;
}

.card-bio {
	height: 800px;
	background-color: grey;

}

.navbar-fixed-top .navbar-collapse {
  max-height: 100%;}

.position  {
	margin-top: -50px;
}




.vertical-space-100 {
	height: 100px;
}

.vertical-space-50 {
	height: 50px;
}

